@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


label, input {
    display: block;
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
}

input {
    height: 30px;
    margin-bottom: 10px;
}

body {
    color: #666;
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 10px;
    line-height: 1.7;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }

form {
    width: 100%;
}

a {
    text-decoration: none;
    color:rgb(193, 77, 0)
}

h3 {
    margin-top: 16px;
    margin-left: 12px;
}

.signup-form {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top: 16px;
    height: 75vh;
}

.image-container {
    width: 40%;
    height: 100%; 
    display: flex;
    position: relative;
}

.hero-image {
    width: 100%;
    height: 100%;
    background: no-repeat center url(micheile-henderson-7NFwwp-vZk8-unsplash.jpg);
    background-size: cover;
    position: relative;
}

.logo-header {
    background-color: rgba(0, 0, 0, .3);
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    width: 100%;
    top: 25%;
}

h1 {
    font: 4em 'Metal Mania', helvetica;
}

.info-container {
    display: flex;
    width: 60%;
    height: 100%;
    background-color: rgb(244, 244, 244);
    flex-direction: column;
}

.info-wrapper {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    min-height: 30%;
    align-items: center;
    vertical-align: center;
    padding-left: 10px;
}

.form-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: #000;
    padding: 10px;
    box-shadow: 0px 2px 2px 1px rgb(235, 235, 235);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-container > h2 {
    align-self: flex-start;
    margin-bottom: 24px;
}

.form-row {
    display: flex;
    min-width: 200px;
    flex-direction: row;
    justify-content: space-between;
}

.form-item {
    width: 45%;
}


input {
    appearance: none;
    border: 1px solid rgb(244, 244, 244);
    background-color:rgb(244, 244, 244);
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgb(142, 142, 142);
    padding-left: 5px;
}

input:required {
    border: 1px solid rgb(144, 144, 144)
}

input:focus,
input:hover {
    outline: none;
    appearance: none;
    border: 1px solid rgb(155, 155, 155);
    box-shadow: 0px 1px 1px 1px rgb(142, 142, 142)
}

.spacing {
    min-height: 30%;
}
button[type='submit'] {
    border: none;
    border-radius: 5px;
    margin-top: 16px;
    margin-left: 10px;
    width: 184px;
    height: 45px;
    color:rgb(255, 255, 255);
    background-color: rgb(193, 77, 0);
    cursor: pointer;
    box-shadow: 0px 2px 2px 1px rgb(202, 201, 201);
}

button[type="submit"]:hover {
    border: 2px solid rgb(122, 49, 0);
}

.error + span {
    color: rgb(200, 0, 0);
}

input:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid rgb(200, 0, 0);
}

@media (max-width: 700px) {
    .form-row {
        flex-direction: column;
    }

    .form-item {
        width: 75%;
    }

    .signup-form {
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .logo-header {
        width: 100%;
    }

    .image-container {
        height: 200px;
        width: 100%;
    }

    .info-container {
        width: 100%;
    }

    .info-wrapper {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .hero-image {
        background: no-repeat center url(micheile-henderson-7NFwwp-vZk8-unsplash.jpg);
        background-size: cover;
        position: relative;
        height: 100%;
        width: 100%;
    }
}